<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logDirPath" source="log.dir.path"/>

    <springProfile name="local">
        <include resource="logback-prod.xml"/>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback-dev.xml"/>
    </springProfile>

    <springProfile name="test">
        <include resource="logback-testing.xml"/>
    </springProfile>
</configuration>
