name: PR Pipeline

on:
  pull_request:
    branches: [ "main" ]

jobs:

 checkstyle:
   runs-on: ubuntu-latest

   outputs:
     temp: ${{ steps.set.outputs.temp }}

   steps:
     - name: Set versions
       id: set
       run: |
         echo "temp=$(cat /.github/TEMP)" >> $GITHUB_OUTPUT

     - name: Display versions
       run: |
         echo ">>>>> temp is ${{ steps.set.outputs.temp }}"

     - name: Checkout
       uses: actions/checkout@v3

     - name: Set up JDK 17
       uses: actions/setup-java@v3
       with:
         java-version: '17'
         distribution: 'corretto'

     - name: Make gradlew executable
       run: chmod +x ./gradlew

     - name: Check style
       run: ./gradlew spotlessCheck

 build:
   runs-on: ubuntu-latest
   needs: [checkstyle]

   steps:
     - name: Checkout
       uses: actions/checkout@v3

     - name: Set up JDK 17
       uses: actions/setup-java@v3

       with:
         java-version: '17'
         distribution: 'corretto'
     - name: Make gradlew executable
       run: chmod +x ./gradlew

     - name: Info
       run: pwd && ls -l

     - name: Create log directories
       run: | 
         sudo mkdir /vartest/
         sudo mkdir /vartest/log/
         sudo mkdir /vartest/log/test/
         sudo touch /vartest/log/test/logback.log
         sudo chmod u+rw,g+rw,o+rw /vartest/log/test/logback.log
         ls -l /vartest/log/test/
       
     - name: Build
       run: ./gradlew clean build --info
