name: PR Pipeline

on:
  pull_request:
    branches: [ "main" ]

jobs:

 checkstyle:
   runs-on: ubuntu-latest

   steps:
     - name: Checkout
       uses: actions/checkout@v3

     - name: Set up JDK 17
       uses: actions/setup-java@v3
       with:
         java-version: '17'
         distribution: 'corretto'

     - name: Make gradlew executable
       run: chmod +x ./gradlew

     - name: Check style
       run: ./gradlew spotlessCheck

 build:
   runs-on: ubuntu-latest
   needs: [checkstyle]

   steps:
     - name: Checkout
       uses: actions/checkout@v3

     - name: Set up JDK 17
       uses: actions/setup-java@v3

       with:
         java-version: '17'
         distribution: 'corretto'
     - name: Make gradlew executable
       run: chmod +x ./gradlew

     - name: Info
       run: pwd && ls -l

     - name: Create log directories
       run: sudo mkdir /vartest/
       
     - name: Build
       run: ./gradlew clean build --info
