name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  checkversions:
    runs-on: ubuntu-latest

    outputs:
      current: ${{ steps.set.outputs.current }}
      target: ${{ steps.set.outputs.target }}
      test: ${{ steps.set.outputs.test }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set version
        id: set
        run: |          
          echo "current=$(grep '^current=' version | awk -F= '{print $2}')" >> $GITHUB_OUTPUT
          echo "target=$(grep '^target=' version | awk -F= '{print $2}')" >> $GITHUB_OUTPUT
          echo "test=$(grep '^test=' version | awk -F= '{print $2}')" >> $GITHUB_OUTPUT

      - name: Display version
        run: |
          echo ">> >> >> CURRENT VERSION: ${{ steps.set.outputs.current }}"
          echo ">> >> >> TARGET VERSION: ${{ steps.set.outputs.target }}"
          echo ">> >> >> TEST FLAG: ${{ steps.set.outputs.test }}"

  build-and-push:
    needs: checkversions
    runs-on: ubuntu-latest
    if: ${{ needs.checkversions.outputs.current == needs.checkversions.outputs.target }}

    steps:
      - name: Display version
        run: |
          echo ">> >> >> CURRENT VERSION: ${{ steps.set.outputs.current }}"
          echo ">> >> >> TARGET VERSION: ${{ steps.set.outputs.target }}"
          echo ">> >> >> TEST FLAG: ${{ steps.set.outputs.test }}"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Info
        run: pwd && ls -l

      - name: Create log directories
        run: |
          sudo mkdir /vartest/
          sudo mkdir /vartest/log/
          sudo mkdir /vartest/log/test/
          sudo touch /vartest/log/test/logback.log
          sudo chmod u+rw,g+rw,o+rw /vartest/log/test/logback.log
          ls -l /vartest/log/test/

      - name: Build jar
        run: ./gradlew clean build

      - name: Build Docker image
        if: ${{ needs.checkversions.outputs.test == 0 }}
        run: docker build -t healthylifestyle/backend:${{ needs.checkversions.outputs.current }} -t healthylifestyle/backend:latest .

      - name: Push image to Docker Hub
        if: ${{ needs.checkversions.outputs.test == 0 }}
        run: |
          docker push healthylifestyle/backend:${{ needs.checkversions.outputs.current }}
          docker push healthylifestyle/backend:latest

      - name: Build Docker test image
        if: ${{ needs.checkversions.outputs.test == 1 }}
        run: docker build -t healthylifestyle/backend:${{ needs.checkversions.outputs.current }}-test -t healthylifestyle/backend:latest-test .

      - name: Push test image to Docker Hub
        if: ${{ needs.checkversions.outputs.test == 1 }}
        run: | 
          docker push healthylifestyle/backend:${{ needs.checkversions.outputs.current }}-test
          docker push healthylifestyle/backend:latest-test

  deploy-to-ec2:
    needs:
      - checkversions
      - build-and-push
    runs-on: ubuntu-latest
    if: ${{ needs.checkversions.outputs.current == needs.checkversions.outputs.target }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to EC2
        env:
          PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
          HOSTNAME: ${{ secrets.EC2_DNS }}
          USERNAME: ${{secrets.EC2_USERNAME}}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key && 
          ssh -o StrictHostKeyChecking=no -o "ServerAliveInterval 60" -o "ServerAliveCountMax 10" -i private_key ${USERNAME}@${HOSTNAME} '
            cd ~/healthy-frontend &&
            git pull origin main &&
            npm install && 
            npm run build &&
            sudo rm -rf /var/www/html/healthy-frontend-build/* && 
            sudo cp -r ~/healthy-frontend/build/. /var/www/html/healthy-frontend-build/ && 
            sudo docker stop backend &&
            sudo docker rm backend && 
            sudo docker image rm healthylifestyle/backend:latest && 
            cd ~/hosting/backend &&
            sudo docker compose up --force-recreate -d &&
            sudo nginx -t && 
            sudo systemctl reload nginx && 
            sudo systemctl status nginx
            '